In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
diamonds_train = pd.read_csv('outputs/df_train.csv')
diamonds_train_price = pd.read_csv('outputs/df_train_price.csv')
diamonds_predict=pd.read_csv('outputs/df_test.csv')
submit=pd.read_csv('inputs/sample_submission.csv')

In [3]:
diamonds_train.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
0,-1.051355,-0.810564,0.352161,-0.033632,0.736126,-0.650176,-1.283716,-1.236438,-1.180531
1,-0.966764,0.982588,0.940769,-0.641579,0.596363,-1.097476,-1.132102,-1.080061,-1.039596
2,-0.839879,-0.810564,1.529377,-0.641579,-1.010919,2.033618,-0.918059,-0.854183,-0.969129
3,-0.839879,0.086012,-0.825055,0.574315,0.037308,0.781181,-0.900222,-0.862870,-0.870475
4,0.217504,-0.810564,1.529377,-0.641579,-0.521746,2.480917,0.330526,0.344710,0.271096

In [4]:
diamonds_predict.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
0,3.267015,0.978152,-1.416151,-1.232414,-0.666318,-1.554540,2.620734,2.539800,2.446736
1,2.596725,0.978152,-0.830504,-1.232414,0.168508,-0.658049,2.175567,2.234832,2.230593
2,-0.608098,0.978152,-1.416151,-0.627731,-0.040199,-1.554540,-0.495431,-0.491942,-0.492811
3,-1.047976,0.978152,-1.416151,-0.627731,-0.318474,-0.658049,-1.261117,-1.263332,-1.285335
4,0.334497,-2.592365,-0.830504,-0.023048,4.899190,-0.658049,0.332578,0.216660,0.890505

# Split train and test

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(diamonds_train, diamonds_train_price, test_size=0.01)

In [6]:
X_train.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
40073,0.873081,0.086012,0.940769,-0.641579,0.806008,0.244422,0.945900,0.909406,1.032144
27666,0.534718,-0.810564,-2.002272,-1.249527,1.015653,-0.650176,0.678346,0.622714,0.778461
31661,-0.586107,0.982588,1.529377,-0.641579,0.037308,-0.202877,-0.481054,-0.515365,-0.489951
27276,-0.839879,-0.810564,1.529377,-0.033632,0.386717,0.244422,-0.926977,-0.880246,-0.856381
12255,-0.184302,0.982588,0.940769,1.790210,0.177072,-0.650176,-0.035131,-0.002795,0.003320

In [7]:
y_test.shape

(405, 1)

# Extra Tree Regressor

In [204]:
from sklearn.ensemble import ExtraTreesRegressor

In [212]:
reg = ExtraTreesRegressor(max_features='log2', n_jobs=-1)

In [213]:
reg.fit(X_train, y_train)

/home/must4in3/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='log2', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=None, verbose=0, warm_start=False)

In [214]:
y_pred_Extra= reg.predict(X_test)

In [215]:
y_test_Extra = y_test.copy()
y_test_Extra['y']= y_pred_Extra

In [216]:
y_test_Extra['Price-y'] = abs(y_test_Extra['price']- y_test_Extra['y'])
y_test_Extra.describe()

              price             y      Price-y
count    405.000000    405.000000   405.000000
mean    3721.646914   3771.578143   288.672553
std     3845.599594   3896.111200   533.447130
min      399.000000    401.150000     0.000000
25%      872.000000    869.950000    42.050000
50%     2275.000000   2340.460000    97.490000
75%     5177.000000   5204.480000   274.400000
max    18700.000000  17889.000000  3567.640000